
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #c4e1fe 0%, #f8f0ff 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    padding-left: 0;
    padding-right: 0;
}