.footer{
    background-color: #ffffff;
    background-color: #8EC5FC;
    background-image: linear-gradient(42deg,  #f8f0ff 30%, #c4e1fe 70%);
    padding: 20px;
    margin-top: 3%;
    text-align: center;

}