.main-login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}


.user-form {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    backdrop-filter: blur(5px);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    font-weight: 600;
    font-size: large;
}

.sign_btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #0a64ff;
    border-radius: 0.6em;
    color: #0a64ff;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    margin: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.sign_btn:hover {
    border-color: #0011ff;
    color: #000000;
    background-image: -webkit-linear-gradient(45deg, #0a64ff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #0a64ff 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.alter-div p {
    margin-bottom: 0;
}

.signup_btn {
    border: 2px solid #ff0000;
    color: #ff0000;
}

.signup_btn:hover {
    border-color: #0011ff;
    color: #000000;
    background-image: -webkit-linear-gradient(45deg, #f9c21c 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f9c21c 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
    .user-form {
        width: 70%;
    }
}

@media only screen and (max-width: 480px) {
    .user-form {
        width: 90%;
    }
}
