.navbar{
    background-color: #ffffff;
    background-color: #8EC5FC;
    background-image: linear-gradient(22deg, #c4e1fe 30%, #f8f0ff 70%);

}
.navbar-nav .nav-link{
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #e74c3c inset;
}
.user-name-div{
    display: flex;
    justify-content: center;
    align-items: center;

}

.user-links {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #000000;
    background-color: transparent;
    border-radius: 0.2em;
    color: #474747;
    padding: 5px;
    margin-right: 10px;
    text-align: center;
}

.user-links:hover {
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
