.posts-card{
    margin: 20px;
    padding: 10px;
    border: 1px solid #a00000;
    border-radius: 0.5em;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px;
}

.posts-card-title{

}

.posts-card-text{

}

.posts-card-btn {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #a00000;
    background-color: transparent;
    border-radius: 0.2em;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.posts-card-btn:hover {
    color: #4f0000;
}