<%= stylesheet_link_tag 'footer.css' %>
<footer class="footer">
  <div class="container">
    <p class="mb-0">Created by <%= link_to 'Jainish Patel', "https://www.linkedin.com/in/jainish31/", target: '_blank' %> as part of the Prototyping Web and Mobile Applications Course Project</p>
  </div>
</footer>

